body {
      
   /*padding-top: 120px;-->
   <!--padding-bottom: 150px;-->
 
 <!-- background-image: url("milan.jpg"); -->
  <!-- background-repeat: no-repeat;-->*/
   background-position: top;
   overflow-x: hidden;
 /*  <!--background-attachment:fixed;-->*/
 
 }
 a, a:hover, a:focus, a:active, a.active {
    outline: 0;
    color: #FEE3A0;
}
 

#home {
   /* height: 20vh; /*vh*/*/
    clear: both;
    overflow: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
   /* background-position: center; */
   /* background-color: #F0F7F5;*/
    background: #60CEB5;/*#355C7D;*/
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    width: 100%;
    padding-right: 15px;
   
    <!-- text -->
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
    color: #787878;
}
#home .container {
    background: #60CEB5;/*#355C7D;*/
     /* font: ; */
    padding-top: 200px;
    padding-bottom: 100px;
    width: 100%;
    justify-content: center;
}
#home .container .cover .content #title{
      text-align:center;
      color: #FFFFFF;
      font-size: 30px;
}
#home .container .cover .content #name{
      text-align: center;
   /*   font-family: 'Open Sans', sans-serif;
      font-style: bold;
      font-weight: 1000px;
      color: white;
      font-size: 100px; */
        font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 4.75em;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	line-height: 15.4px;
	color: white;
	display: block;
	text-transform: uppercase;
	
      text-shadow: 0 0px 0px rgba(0,0,0,0);
}
#about{
	overflow: auto;
	padding-top: 200px;
    padding-bottom: 100px;
}
#about .container .cover {
      background: #355C7D/* #6EC6AB; */
      justify-content: center;
      
}
#about .container-extra .header{
      background:#F0F7F5;
      <!--#7ccbb3 ; -->
      justify-content: center;
      padding: 50px, 50px, 50px, 50px;
}
#about .container-more {
      background:#7ccbb3;
      justify-content: center;
      padding: 50px, 50px, 50px, 50px;
}

#about .container-more .header .head-cover li{
 font-size:10 px;
}
#footer{
      overflow: auto;
      background: #6EC6AB;
      text-shadow: 0 1px 3px rgba(0,0,0,.5);
      color: #FFF;
}
}
.navbar {
    background-color: #F0F7F5;
    position: fixed;
    z-index: 3;
    width: 100%;
    left: 0;
    top: 0
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 1.75em;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	line-height: 15.4px;
	color: white;
	display: block;
	text-transform: uppercase;
}
.navbar li{ <!-- nav-collapse -->
      display: inline;
      padding: 20px;
}
.nav-collapse .menu-item {
    float: left;
    width: 100%;
    height: 100%
}
.nav-collapse a {
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    color: #fff;
    width: 100%;
    height: 100%;
    float: left
}
.nav-collapse a:active,.nav-collapse .active a {
    background-color: #a8dccc;
}
.nav-collapse a:hover{
      background-color:#a8dccc;
}
@media screen and (min-width: 40em) {
    .nav-collapse a {
        padding:0;
        text-align: center;
        float: left;
        margin: 0
    }
}
.nav-collapse ul ul a {
    background: #F0F7F5;
    padding-left: 2em
    height: auto;
    margin: 0px;
    padding: 8px 0px;
}

@media screen and (min-width: 40em) {
    .nav-collapse ul ul a {
        display:none
    }
}

/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #000;
  border: 1px solid #000;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: /*#F0F7F5*/ #355C7D;
}
body {
  color: #355C7D;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.top-bar_ul{
  display:  table;
  width: 100%;
  height: 100%;  
  min-height:100%;
}
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,0);
          box-shadow: inset 0 0 100px rgba(0,0,0,0);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 10px;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #000/* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #000;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
   top: 0;
  }
  .mastfoot {
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}
